#border{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: bisque;
    width: 44%;
    margin: 20vh auto;
    min-height: 50vh;
    > .heading{
        border: 2px solid rgb(255, 255, 255);
        background-color: rgb(202, 163, 100);
        border-radius: 20px;
        color: white;
        width: 40%;
        margin: 20px auto;
        text-align: center;
    }
    > .watch{
        border-radius: 20px;
        background-color: rgba(111, 75, 75, 0.284);
        border: 2px solid rgb(255, 255, 255);
        width: 80%;
        margin: 60px auto;
        text-align: center;
        max-height: 22vh;
        display: flex;
        align-items: bottom;
        justify-content: center;
        >h1{
            font-size: 80px;
            margin: auto 4px auto 4px;
        }
    }
    > .controls{
        width: 50%;
        margin: 5px auto;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        >input{
            border: none;
            background: none;
            color: white;
        }
    }
}